.wrapper {
  width: 356px;
  padding: 20px 0 26px 8px;
  margin-left: -18px;

  .pages-section {
    margin-bottom: 0.8rem;
  }

  .suggested-account {
    padding-bottom: 0.8rem;
  }

  .following-account {
    padding-bottom: 0.8rem;
  }
}
